
/**
 * CSS colors
 *
 */

html {
    --color-primary   : rgb(43, 42, 42);
    --color-secondary : rgb(99, 99, 99);
    --color-lighter   : #3d3d3d;

    --blue     : rgb(0, 140, 255);
    --darkblue : #252544;
    --green    : rgb(25, 167, 6);
    --grey     : rgb(206, 206, 206);
    --red      : rgb(255, 38, 0);
    --yellow   : yellow;
}
