
/**
 * CSS colors
 *
 */

html {
    --color-lighter   : #3d3d3d;
    --color-primary   : rgb(43, 42, 42);
    --color-secondary : rgb(99, 99, 99);

    --border-color : grey;

    --blue     : rgb(0, 140, 255);
    --darkblue : #252544;
    --darkorange: rgb(255, 113, 31);
    --green    : rgb(25, 167, 6);
    --grey     : rgb(206, 206, 206);
    --lavender : #f4f4fc;
    --lightgrey: rgb(240, 240, 240);
    --orange   : rgb(255, 161, 20);
    --red      : rgb(255, 38, 0);
    --yellow   : yellow;
    --white    : white;
}
