
/**
 * Displays
 *
 */

.block {
    display: block;
}
.contents {
    display: contents;
}
.flex {
    display: flex;
}
.flex-around {
    justify-content: space-around;
}
.flex-both {
    justify-content: space-between;
}
.flex-center {
    align-items     : center;
    justify-content : center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: start;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.inline-flex {
    display: inline-flex;
}
.none {
    display: none !important;
}


.align-baseline {
    align-items: baseline;
}
.align-center {
    align-items: center;
}

ul.inline-block-items li {
    display: inline-block;
}

////////////////////////////////////////////////////////////////////////
// Grid layouts

.grid-2-5 {
    display: grid !important;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows    : 1fr 1fr;
}
