
/**
 * Margins
 *
 */

.both-1 {
    margin-left : 1%;
    margin-right: 1%;
}
.both-2 {
    margin-left : 2%;
    margin-right: 2%;
}
.both-5 {
    margin-left : 5%;
    margin-right: 5%;
}
.both-10 {
    margin-left : 10%;
    margin-right: 10%;
}

.both-v-1 {
    margin-bottom : 1%;
    margin-top    : 1%;
}
.both-v-2 {
    margin-bottom : 2%;
    margin-top    : 2%;
}
.both-v-5 {
    margin-bottom : 5%;
    margin-top    : 5%;
}
.both-v-10 {
    margin-bottom : 10%;
    margin-top    : 10%;
}

.bottom-1 {
    margin-bottom: 1%
}
.bottom-2 {
    margin-bottom: 2%
}
.bottom-5 {
    margin-bottom: 5%
}
.bottom-10 {
    margin-bottom: 5%
}

.left-1 {
    margin-left: 1%;
}
.left-2 {
    margin-left: 2%;
}
.left-5 {
    margin-left: 5%;
}
.left-10 {
    margin-left: 10%;
}

.right-1 {
    margin-right: 1%;
}
.right-2 {
    margin-right: 2%;
}
.right-5 {
    margin-right: 5%;
}
.right-10 {
    margin-right: 10%;
}

.top-1 {
    margin-top: 1%
}
.top-2 {
    margin-top: 2%
}
.top-5 {
    margin-top: 5%
}
.top-10 {
    margin-top: 10%
}

/**
 * Paddings
 *
 */

.pad-1 {
    padding: 1%;
}
.pad-2 {
    padding: 2%;
}
.pad-5 {
    padding: 5%;
}
.pad-10 {
    padding: 10%;
}
