/*** Margins **********************************************************/

.both-2 {
    margin-left : 2%;
    margin-right: 2%;
}
.both-5 {
    margin-left : 5%;
    margin-right: 5%;
}
.bottom-2 {
    margin-bottom: 2%
}
.bottom-5 {
    margin-bottom: 5%
}
.left-2 {
    margin-left: 2%;
}
.left-5 {
    margin-left: 5%;
}
.right-2 {
    margin-right: 2%;
}
.right-5 {
    margin-right: 5%;
}
.top-2 {
    margin-top: 2%
}
.top-5 {
    margin-top: 5%
}
.top-10 {
    margin-top: 10%
}

/*** Paddings *********************************************************/

.pad-2 {
    padding: 2%;
}
.pad-5 {
    padding: 5%;
}
