
/**
 * Positions
 *
 */

.pos-abs {
    position: absolute;
}
.pos-fix {
    position: fixed;
}
.pos-inh {
    position: inherit;
}
.pos-rel {
    position: relative;
}
.pos-sta {
    position: static;
}
.pos-sti {
    position: sticky;
}

////////////////////////////////////////////////////////////////////////////////
// Floats

.clear {
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
