
/**
 * Positions
 *
 */

.pos-abs,
.absolute {
    position: absolute;
}
.pos-fix,
.fixed {
    position: fixed;
}
.pos-inh,
.inherit {
    position: inherit;
}
.pos-rel,
.relative {
    position: relative;
}
.pos-sta,
.static {
    position: static;
}
.pos-sti,
.sticky {
    position: sticky;
}

.to-bottom {
    bottom: 0;
}
.to-left {
    left: 0;
}
.to-right {
    right: 0;
}
.to-top {
    top: 0;
}


// Hide elements to copy to clipboard
.top-none {
    position: absolute;
    top: -200vh;
}

////////////////////////////////////////////////////////////////////////
// Floats

.clear {
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
